  <div class="table-header-container">
    <table id="ember-table-checkbox-rows" class="table table-striped table-bordered-no-hover table-only-header">
      <thead>
        <tr>
         <th class="checkbox-row">
            <div>
                {{#if allChecked}}
                  <input id="Uncheck_All_Box" {{action "uncheckAll"}}  type="checkbox" checked="true">
                  <span {{action "uncheckAll"}} class="select-all-checkbox-text">Deselect&nbsp;All</span>
                {{/if}}
                {{#if (not allChecked)}}
                  <input id="Check_All_Box" {{action "checkAll"}}  type="checkbox">
                  <span {{action "checkAll"}} class="select-all-checkbox-text">Select&nbsp;All</span>
                {{/if}}
            </div>
          </th>
          {{#each columns as |field|}}
            <th class={{field.class}}>{{ field.label }}</th>
          {{/each}}
        </tr>
      </thead>
    </table>
  </div>
  <div class="scrollable-table">
  {{#if (gt rowData.tableTopRows.length 0 and gt rowData.tableBottomRows.length 0)}}
    <table class="table table-striped table-bordered-no-hover" id="{{tableName}}-scrollable-table">
       <tbody>
              {{#each (sort-by sortFields rowData.tableTopRows) as |row|}}
                {{table-checkbox-row useCommas = useCommas row=row columns=columns checkedRows=checkedRows updateAllChecked=(action "syncAllChecked") }}
              {{/each}}
              {{#each (sort-by sortFields rowData.tableBottomRows) as |row index|}}
                {{table-checkbox-row useCommas = useCommas row=row columns=columns checkedRows=checkedRows hasSeparator=(eq index 0) updateAllChecked=(action "syncAllChecked") }}
              {{/each}}
          </tbody>
    </table>
  {{else}}
    <div id="blank-ember-table-checkbox-rows-table" class="no-results blank-table">
      No Items Found
    </div>
  {{/if}}
  </div>
