$button-font: 'Roboto', sans-serif;
$link-color: #728BBC;
$input-color: #989898;
$input-font-size: 1.1em;
$input-padding: 20px 15px 20px 15px;
$input-border-color: #D0D7DD;
$input-font: 'Roboto', sans-serif;
$horizontal-rule-color: #D0D7DD;

/**
 * User Data Grid Variables
 */
$row-header-background-color: #2677B6;
$row-header-font: 'Ubuntu', sans-serif;
$row-header-font-color: #FFFFFF;

$primary-row-background-color: #FFFFFF;
$secondary-row-background-color: #F9F9F9;

$edit-icon-color: #000000;

$table-icon-size: 1.5em;

$active-status-icon-color: #28A745;
$active-status-icon-size: $table-icon-size;

$table-dropdown-menu-line-height: 2.0;
$table-dropdown-menu-icon-margin: 0 10px 0 0;

#ember-table-checkbox-rows thead {
  font-weight: bold;
}

.table-striped-margin {
  margin-top: 42px;
}

#ember-table-checkbox-rows .select-all-checkbox-text{
  margin-left:5px;
}

#ember-table-checkbox-rows.table-bordered {
	thead {
		background-color: #2677B6;
		color: white;
	}
  .checkbox-row-has-separator {
    td {
      border-top: 2px solid #000 !important;
    }
  }
	td {
    vertical-align: middle !important;
		border: 0px !important;
	}
  td.vertical-top {
    vertical-align: top !important;
  }
	border: 0px !important;
  tbody tr:hover {
    background-color: #eee;
  }
  .col-icon {
    width: 28px;
  }

  .no-hover-head:hover{
    background-color: #2677B6;
  }
}

#ember-table-checkbox-rows.table-bordered-no-hover {
	thead {
		background-color: #2677B6;
		color: white;
	}
  .checkbox-row-has-separator {
    td {
      border-top: 2px solid #000 !important;
    }
  }
	td {
		border: 0px !important;
	}
	border: 0px !important;
  .col-icon {
    width: 28px;
  }
}

.text-right {
  text-align: right;
}

#ember-table-checkbox-rows .checkbox-row-unchecked:hover {
  background-color: #eee !important;
}

#ember-table-checkbox-rows .checkbox-row-checked:hover {
  background-color: #eee !important;
}

#ember-table-checkbox-rows .checkbox-row-checked .title-col {
  margin-bottom: 10px;
}

#ember-table-checkbox-rows .checkbox-row-unchecked {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#ember-table-checkbox-rows .checkbox-row-checked {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}


.scrollable-table {
  overflow-y: scroll;
}

.table-only-header {
  margin-bottom: 0px;
}

.table-header-container {
  max-height: 38px;
  overflow-y: hidden;
}

.fixed_header th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.checkbox-row{
  width: 13%;
}

.name-field {
  width: 70%;
}

.inactive-field {
  width: 20%;
}
